* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.matrix-bg {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#matrix-canvas {
  background: -webkit-gradient(linear, left bottom, left top, from(#ea9b00), to(#b47700));
  background: linear-gradient(0deg, #ea9b00 0%, #b47700 100%);
  top: 0;
  left: 0;
}
