* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.matrix-bg {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#matrix-canvas {
  background: #ea9b00;
  top: 0;
  left: 0;
}
