.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

#hero-section {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#matrix-canvas {
  background: #dd8115;
  width: 100vw;
  min-width: 100vw;
  height: 70vh;
  min-height: 400px;
  max-height: 800px;
  top: 0;
  left: 0;
}

#hero-heaadlines {
  position: absolute;
}

#hero-jumbo {
  font-family: "Zaio";
  letter-spacing: 0.4rem;
  color: white;
  font-size: 8rem;
  text-align: center;
  position: relative;
  -webkit-transition: font-size 0.2s ease-in;
  transition: font-size 0.2s ease-in;
}

@media all and (max-width: 1150px) {
  #hero-jumbo {
    letter-spacing: 0.2rem;
    font-size: 6rem;
  }
}

@media all and (max-width: 710px) {
  #hero-jumbo {
    letter-spacing: 0.15rem;
    font-size: 4rem;
  }
}

@media all and (max-width: 480px) {
  #hero-jumbo {
    letter-spacing: 0.15rem;
    font-size: 3rem;
  }
}

@media all and (max-width: 370px) {
  #hero-jumbo {
    letter-spacing: 0.1rem;
    font-size: 2.4rem;
  }
}

#hero-h2 {
  text-align: center;
  font-family: "Stay Classy SLDT";
  color: rgba(89, 27, 12, 0.4);
  font-size: 4rem;
  -webkit-transition: font-size 0.45s ease-in;
  transition: font-size 0.45s ease-in;
  position: absolute;
}

#hero-h2:hover {
  font-size: 6rem;
  color: #591b0c;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#h2-wrapper {
  position: relative;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: width 0.4s ease-in;
  transition: width 0.4s ease-in;
}

#h2-wrapper:hover {
  width: 25rem;
}

.html-tag-subhead {
  font-family: "Stay Classy SLDT";
  color: #f7daa0;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 1rem;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.left-tag-subhead {
  margin-left: -3rem;
  margin-top: 1rem;
  left: 0;
}

.right-tag-subhead {
  margin-right: -3rem;
  margin-top: 1rem;
  right: 0;
}

@media all and (max-width: 1150px) {
  #hero-h2 {
    font-size: 3rem;
  }
  #hero-h2:hover {
    font-size: 5rem;
  }
  #h2-wrapper {
    width: 14.5rem;
  }
  #h2-wrapper:hover {
    width: 22rem;
  }
  .html-tag-subhead {
    font-size: 1.5rem;
  }
  .left-tag-subhead {
    margin-left: -2rem;
    margin-top: 0.7rem;
  }
  .right-tag-subhead {
    margin-right: -2rem;
    margin-top: 0.7rem;
  }
}

@media all and (max-width: 710px) {
  #hero-h2 {
    font-size: 2rem;
  }
  #hero-h2:hover {
    font-size: 3rem;
  }
  #h2-wrapper {
    width: 10rem;
  }
  #h2-wrapper:hover {
    width: 13rem;
  }
  .html-tag-subhead {
    font-size: 1.3rem;
  }
  .left-tag-subhead {
    margin-left: -2rem;
    margin-top: 0;
  }
  .right-tag-subhead {
    margin-right: -2rem;
    margin-top: 0;
  }
}

@media all and (max-width: 480px) {
  #hero-h2 {
    font-size: 1.7rem;
  }
  #hero-h2:hover {
    font-size: 2.5rem;
  }
  #h2-wrapper {
    width: 8rem;
  }
  #h2-wrapper:hover {
    width: 11.5rem;
  }
  .html-tag-subhead {
    font-size: 1rem;
  }
  .left-tag-subhead {
    margin-left: -2rem;
    margin-top: -0.3rem;
  }
  .right-tag-subhead {
    margin-right: -2rem;
    margin-top: -0.3rem;
  }
}

@media all and (max-width: 370px) {
  #hero-h2 {
    font-size: 1.4rem;
  }
  #hero-h2:hover {
    font-size: 2rem;
  }
  #h2-wrapper {
    width: 6rem;
  }
  #h2-wrapper:hover {
    width: 8rem;
  }
  .html-tag-subhead {
    font-size: 0.9rem;
  }
  .left-tag-subhead {
    margin-left: -2rem;
    margin-top: -0.4rem;
  }
  .right-tag-subhead {
    margin-right: -2rem;
    margin-top: -0.4rem;
  }
}

.jumboTypingEffect::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  width: 4px;
  height: 4.5rem;
  border-right: 3px solid white;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.glitch:hover {
  position: relative;
  text-shadow: 0.005em 0 0 rgba(89, 27, 12, 0.4), -0.005em -0.01em 0 rgba(192, 255, 220, 0.5), 0.01em -0.01em 0 #230802;
  -webkit-animation: glitch 2000ms infinite;
          animation: glitch 2000ms infinite;
}

.glitch span:nth-child(1),
.glitch span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.glitch:hover span:first-child {
  left: 0px;
  z-index: 2;
  opacity: 0.6;
  -webkit-clip-path: polygon(0 0, 0 80%, 100% 0);
          clip-path: polygon(0 0, 0 80%, 100% 0);
  -webkit-transform: translate(-0.015em, -0.015em);
          transform: translate(-0.015em, -0.015em);
  -webkit-animation: glitch 1500ms infinite;
          animation: glitch 1500ms infinite;
  -webkit-animation: glitch-position 1000ms infinite;
          animation: glitch-position 1000ms infinite;
}

.glitch:hover span:last-child {
  z-index: 1;
  opacity: 0.4;
  -webkit-clip-path: polygon(0 100%, 50% 100%, 90% 35%, 0 75%);
          clip-path: polygon(0 100%, 50% 100%, 90% 35%, 0 75%);
  -webkit-transform: translate(0.025em, -0.015em);
          transform: translate(0.025em, -0.015em);
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
}

@-webkit-keyframes glitch-position {
  0% {
    -webkit-transform: translate(-0.025em, -0.015em);
            transform: translate(-0.025em, -0.015em);
  }
  9% {
    -webkit-transform: translate(-0.025em, -0.015em);
            transform: translate(-0.025em, -0.015em);
  }
  10% {
    -webkit-transform: translate(-0.03em, -0.025em);
            transform: translate(-0.03em, -0.025em);
  }
  80% {
    -webkit-transform: translate(-0.03em, -0.025em);
            transform: translate(-0.03em, -0.025em);
  }
  99% {
    -webkit-transform: translate(-0.03em, -0.025em);
            transform: translate(-0.03em, -0.025em);
  }
  100% {
    -webkit-transform: translate(-0.02em, -0.01em);
            transform: translate(-0.02em, -0.01em);
  }
}

@keyframes glitch-position {
  0% {
    -webkit-transform: translate(-0.025em, -0.015em);
            transform: translate(-0.025em, -0.015em);
  }
  9% {
    -webkit-transform: translate(-0.025em, -0.015em);
            transform: translate(-0.025em, -0.015em);
  }
  10% {
    -webkit-transform: translate(-0.03em, -0.025em);
            transform: translate(-0.03em, -0.025em);
  }
  80% {
    -webkit-transform: translate(-0.03em, -0.025em);
            transform: translate(-0.03em, -0.025em);
  }
  99% {
    -webkit-transform: translate(-0.03em, -0.025em);
            transform: translate(-0.03em, -0.025em);
  }
  100% {
    -webkit-transform: translate(-0.02em, -0.01em);
            transform: translate(-0.02em, -0.01em);
  }
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: -0.02em 0 0 rgba(89, 27, 12, 0.4), 0.01em -0.005em 0 rgba(192, 255, 220, 0.5), 0.01em -0.01em 0 #230802;
    color: #ffebc4;
  }
  4% {
    text-shadow: -0.02em 0 0 rgba(89, 27, 12, 0.4), 0.01em -0.005em 0 rgba(192, 255, 220, 0.5), 0.01em -0.01em 0 #230802;
    color: #ffebc4;
  }
  5% {
    text-shadow: 0.005em -0.01em 0 rgba(89, 27, 12, 0.4), -0.01em 0.01em 0 rgba(192, 255, 220, 0.5), -0.005em -0.005em 0 #230802;
    color: white;
  }
  19% {
    text-shadow: 0.005em -0.01em 0 rgba(89, 27, 12, 0.4), -0.01em 0.01em 0 rgba(192, 255, 220, 0.5), -0.005em -0.005em 0 #230802;
    color: white;
  }
  20% {
    text-shadow: 0.01em 0 0 rgba(89, 27, 12, 0.4), 0.03em -0.0025em 0 rgba(192, 255, 220, 0.5), -0.0025em -0.02em 0 #230802;
    color: white;
  }
  99% {
    text-shadow: 0.01em 0 0 rgba(89, 27, 12, 0.4), 0.03em -0.0025em 0 rgba(192, 255, 220, 0.5), -0.0025em -0.02em 0 #230802;
    color: white;
  }
  100% {
    text-shadow: -0.05em -0.05em 0 rgba(89, 27, 12, 0.4), -0.01em 0.01em 0 rgba(192, 255, 220, 0.5), -0.02em -0.01em 0 #230802;
    color: white;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -0.02em 0 0 rgba(89, 27, 12, 0.4), 0.01em -0.005em 0 rgba(192, 255, 220, 0.5), 0.01em -0.01em 0 #230802;
    color: #ffebc4;
  }
  4% {
    text-shadow: -0.02em 0 0 rgba(89, 27, 12, 0.4), 0.01em -0.005em 0 rgba(192, 255, 220, 0.5), 0.01em -0.01em 0 #230802;
    color: #ffebc4;
  }
  5% {
    text-shadow: 0.005em -0.01em 0 rgba(89, 27, 12, 0.4), -0.01em 0.01em 0 rgba(192, 255, 220, 0.5), -0.005em -0.005em 0 #230802;
    color: white;
  }
  19% {
    text-shadow: 0.005em -0.01em 0 rgba(89, 27, 12, 0.4), -0.01em 0.01em 0 rgba(192, 255, 220, 0.5), -0.005em -0.005em 0 #230802;
    color: white;
  }
  20% {
    text-shadow: 0.01em 0 0 rgba(89, 27, 12, 0.4), 0.03em -0.0025em 0 rgba(192, 255, 220, 0.5), -0.0025em -0.02em 0 #230802;
    color: white;
  }
  99% {
    text-shadow: 0.01em 0 0 rgba(89, 27, 12, 0.4), 0.03em -0.0025em 0 rgba(192, 255, 220, 0.5), -0.0025em -0.02em 0 #230802;
    color: white;
  }
  100% {
    text-shadow: -0.05em -0.05em 0 rgba(89, 27, 12, 0.4), -0.01em 0.01em 0 rgba(192, 255, 220, 0.5), -0.02em -0.01em 0 #230802;
    color: white;
  }
}
