@import url("http://fonts.cdnfonts.com/css/verdana");
@font-face {
  font-family: "Stay Classy SLDT";
  src: url("//db.onlinewebfonts.com/t/c947c14459c7a34a30d86f108dcbc300.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c947c14459c7a34a30d86f108dcbc300.woff") format("woff");
}
