#parallax-section {
  width: 100vw;
  height: 500px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ea9b00), to(#f4b246));
  background: linear-gradient(0deg, #ea9b00 0%, #f4b246);
}
