// ------------------------------------ IMPORT
// ------------------------------------ IMPORT
// ------------------------------------ IMPORT
// ------------------------------------ IMPORT
// ------------------------------------ IMPORT
@import "variables";

// ------------------------------------ GENERAL
// ------------------------------------ GENERAL
// ------------------------------------ GENERAL
// ------------------------------------ GENERAL
// ------------------------------------ GENERAL

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

// ------------------------------------ MATRIX
// ------------------------------------ MATRIX
// ------------------------------------ MATRIX
// ------------------------------------ MATRIX
// ------------------------------------ MATRIX
// ------------------------------------ MATRIX

#hero-section {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#matrix-canvas {
  background: rgba(221, 129, 21, 1);
  width: 100vw;
  min-width: 100vw;
  height: 65vh;
  min-height: 200px;
  max-height: 800px;
  // background: black;
  top: 0;
  left: 0;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA Queries
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA Queries

@media all and(max-width:800px) {
  #matrix-canvas {
    height: 70vh;
  }
}
@media all and(max-width:600px) {
  #matrix-canvas {
    height: 70vh;
  }
}
@media all and(max-width:500px) {
  #matrix-canvas {
    height: 76vh;
  }
}

// ------------------------------------ JUMBO TYPO
// ------------------------------------ JUMBO TYPO
// ------------------------------------ JUMBO TYPO
// ------------------------------------ JUMBO TYPO
// ------------------------------------ JUMBO TYPO

#hero-heaadlines {
  position: absolute;
}
#hero-jumbo {
  font-family: $head-font;
  letter-spacing: 0.4rem;
  color: white;
  font-size: 8rem;
  text-align: center;
  position: relative;
  transition: font-size 0.2s ease-in;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA Queries
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA Queries

// JUMBO

@media all and (max-width: 1150px) {
  #hero-jumbo {
    letter-spacing: 0.2rem;
    font-size: 6rem;
  }
}

@media all and (max-width: 710px) {
  #hero-jumbo {
    letter-spacing: 0.15rem;
    font-size: 4rem;
  }
}

@media all and (max-width: 480px) {
  #hero-jumbo {
    letter-spacing: 0.15rem;
    font-size: 3rem;
  }
}
@media all and (max-width: 370px) {
  #hero-jumbo {
    letter-spacing: 0.1rem;
    font-size: 2.4rem;
  }
}

// ------------------------------------ Georgiy Stier SUBHEAD
// ------------------------------------ Georgiy Stier SUBHEAD
// ------------------------------------ Georgiy Stier SUBHEAD
// ------------------------------------ Georgiy Stier SUBHEAD
// ------------------------------------ Georgiy Stier SUBHEAD

#hero-h2 {
  text-align: center;
  font-family: $hand-written;
  color: $glitch-first-color;
  font-size: 4rem;
  transition: font-size 0.45s ease-in;
  position: absolute;
}

#hero-h2:hover {
  font-size: 6rem;
  color: $glitch-first-color-opaque;
}

.flex-center {
  display: flex;
  justify-content: center;
}

#h2-wrapper {
  position: relative;
  width: 18rem;
  display: flex;
  justify-content: center;
  transition: width 0.4s ease-in;
}
#h2-wrapper:hover {
  width: 25rem;
}

.html-tag-subhead {
  font-family: $hand-written;
  color: $light-beige;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 1rem;
  transition: all 0.4s ease-in;
}
.left-tag-subhead {
  margin-left: -3rem;
  margin-top: 1rem;
  left: 0;
}
.right-tag-subhead {
  margin-right: -3rem;
  margin-top: 1rem;
  right: 0;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA Queries
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA Queries

@media all and (max-width: 1150px) {
  #hero-h2 {
    font-size: 3rem;
  }
  #hero-h2:hover {
    font-size: 5rem;
  }
  #h2-wrapper {
    width: 14.5rem;
  }
  #h2-wrapper:hover {
    width: 22rem;
  }
  .html-tag-subhead {
    font-size: 1.5rem;
  }
  .left-tag-subhead {
    margin-left: -2rem;
    margin-top: 0.7rem;
  }
  .right-tag-subhead {
    margin-right: -2rem;
    margin-top: 0.7rem;
  }
}
@media all and (max-width: 710px) {
  #hero-h2 {
    font-size: 2rem;
  }
  #hero-h2:hover {
    font-size: 3rem;
  }
  #h2-wrapper {
    width: 10rem;
  }
  #h2-wrapper:hover {
    width: 13rem;
  }
  .html-tag-subhead {
    font-size: 1.3rem;
  }
  .left-tag-subhead {
    margin-left: -2rem;
    margin-top: 0;
  }
  .right-tag-subhead {
    margin-right: -2rem;
    margin-top: 0;
  }
}

@media all and (max-width: 480px) {
  #hero-h2 {
    font-size: 1.7rem;
  }
  #hero-h2:hover {
    font-size: 2.5rem;
  }
  #h2-wrapper {
    width: 8rem;
  }
  #h2-wrapper:hover {
    width: 11.5rem;
  }
  .html-tag-subhead {
    font-size: 1rem;
  }
  .left-tag-subhead {
    margin-left: -2rem;
    margin-top: -0.3rem;
  }
  .right-tag-subhead {
    margin-right: -2rem;
    margin-top: -0.3rem;
  }
}
@media all and (max-width: 370px) {
  #hero-h2 {
    font-size: 1.4rem;
  }
  #hero-h2:hover {
    font-size: 2rem;
  }
  #h2-wrapper {
    width: 6rem;
  }
  #h2-wrapper:hover {
    width: 8rem;
  }
  .html-tag-subhead {
    font-size: 0.9rem;
  }
  .left-tag-subhead {
    margin-left: -2rem;
    margin-top: -0.4rem;
  }
  .right-tag-subhead {
    margin-right: -2rem;
    margin-top: -0.4rem;
  }
}

// ------------------------------------ TYPING EFFEKT
// ------------------------------------ TYPING EFFEKT
// ------------------------------------ TYPING EFFEKT
// ------------------------------------ TYPING EFFEKT
// ------------------------------------ TYPING EFFEKT

// .typingEffect {
//   position: relative;
// }
.jumboTypingEffect::after {
  content: "";
  position: absolute;
  bottom: 1rem;

  width: 4px;
  height: 4.5rem;
  border-right: 3px solid white;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ------------------------------------ GLITCH
// ------------------------------------ GLITCH
// ------------------------------------ GLITCH
// ------------------------------------ GLITCH
// ------------------------------------ GLITCH

.glitch:hover {
  position: relative;
  text-shadow: 0.005em 0 0 $glitch-first-color,
    -0.005em -0.01em 0 $glitch-second-color,
    0.01em -0.01em 0 $glitch-third-color;

  animation: glitch 2000ms infinite;
}

.glitch span:nth-child(1),
.glitch span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.glitch:hover span:first-child {
  // color: red;
  left: 0px;
  z-index: 2;
  opacity: 0.6;

  clip-path: polygon(0 0, 0 80%, 100% 0);
  transform: translate(-0.015em, -0.015em);
  animation: glitch 1500ms infinite;
  animation: glitch-position 1000ms infinite;
}
.glitch:hover span:last-child {
  // color: green;
  z-index: 1;
  opacity: 0.4;
  clip-path: polygon(0 100%, 50% 100%, 90% 35%, 0 75%);
  transform: translate(0.025em, -0.015em);
  animation: glitch 500ms infinite;
}

@keyframes glitch-position {
  0% {
    transform: translate(-0.025em, -0.015em);
  }
  9% {
    transform: translate(-0.025em, -0.015em);
  }
  10% {
    transform: translate(-0.03em, -0.025em);
  }
  80% {
    transform: translate(-0.03em, -0.025em);
  }
  99% {
    transform: translate(-0.03em, -0.025em);
  }
  100% {
    transform: translate(-0.02em, -0.01em);
  }
}

@keyframes glitch {
  0% {
    text-shadow: -0.02em 0 0 $glitch-first-color,
      0.01em -0.005em 0 $glitch-second-color,
      0.01em -0.01em 0 $glitch-third-color;
    color: #ffebc4;
  }
  4% {
    text-shadow: -0.02em 0 0 $glitch-first-color,
      0.01em -0.005em 0 $glitch-second-color,
      0.01em -0.01em 0 $glitch-third-color;
    color: #ffebc4;
  }
  5% {
    text-shadow: 0.005em -0.01em 0 $glitch-first-color,
      -0.01em 0.01em 0 $glitch-second-color,
      -0.005em -0.005em 0 $glitch-third-color;
    color: white;
  }
  19% {
    text-shadow: 0.005em -0.01em 0 $glitch-first-color,
      -0.01em 0.01em 0 $glitch-second-color,
      -0.005em -0.005em 0 $glitch-third-color;
    color: white;
  }
  20% {
    text-shadow: 0.01em 0 0 $glitch-first-color,
      0.03em -0.0025em 0 $glitch-second-color,
      -0.0025em -0.02em 0 $glitch-third-color;
    color: white;
  }
  99% {
    text-shadow: 0.01em 0 0 $glitch-first-color,
      0.03em -0.0025em 0 $glitch-second-color,
      -0.0025em -0.02em 0 $glitch-third-color;
    color: white;
  }
  100% {
    text-shadow: -0.05em -0.05em 0 $glitch-first-color,
      -0.01em 0.01em 0 $glitch-second-color,
      -0.02em -0.01em 0 $glitch-third-color;
    color: white;
  }
}
