@import "variables";

.hero-section {
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.matrix-bg {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
#matrix-canvas {
  // background: rgb(223, 157, 43);
  background: black;
  top: 0;
  left: 0;
}
