// ------------------------------------ IMPORT
// ------------------------------------ IMPORT
// ------------------------------------ IMPORT
// ------------------------------------ IMPORT
// ------------------------------------ IMPORT
@import "variables";

// ------------------------------------ GENERAL
// ------------------------------------ GENERAL
// ------------------------------------ GENERAL
// ------------------------------------ GENERAL
// ------------------------------------ GENERAL

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

// ------------------------------------ MATRIX
// ------------------------------------ MATRIX
// ------------------------------------ MATRIX
// ------------------------------------ MATRIX
// ------------------------------------ MATRIX
// ------------------------------------ MATRIX

#hero-section {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ------------------------------------ TYPO & <h1> <h3> TAGS
// ------------------------------------ TYPO & <h1> <h3> TAGS
// ------------------------------------ TYPO & <h1> <h3> TAGS
// ------------------------------------ TYPO & <h1> <h3> TAGS
// ------------------------------------ TYPO & <h1> <h3> TAGS

#hero-heaadlines {
  position: absolute;
}
#hero-jumbo {
  font-family: $head-font;
  letter-spacing: 0.2rem;
  color: white;
  font-size: 6rem;
  text-align: center;
  position: relative;
}

.html-tag-jumbo {
  font-family: $hand-written;
  font-size: 2rem;
  color: $glitch-first-color;
}

// ------------------------------------ TYPING EFFEKT
// ------------------------------------ TYPING EFFEKT
// ------------------------------------ TYPING EFFEKT
// ------------------------------------ TYPING EFFEKT
// ------------------------------------ TYPING EFFEKT

// .typingEffect {
//   position: relative;
// }
.jumboTypingEffect::after {
  content: "";
  position: absolute;
  bottom: 1rem;

  width: 4px;
  height: 4.5rem;
  border-right: 3px solid white;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ------------------------------------ GLITCH
// ------------------------------------ GLITCH
// ------------------------------------ GLITCH
// ------------------------------------ GLITCH
// ------------------------------------ GLITCH

.glitch:hover {
  position: relative;
  text-shadow: 0.005em 0 0 $glitch-first-color,
    -0.005em -0.01em 0 $glitch-second-color,
    0.01em -0.01em 0 $glitch-third-color;

  animation: glitch 2000ms infinite;
}

.glitch span:nth-child(1),
.glitch span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.glitch:hover span:first-child {
  // color: red;
  left: 0px;
  z-index: 2;
  opacity: 0.6;

  clip-path: polygon(0 0, 0 80%, 100% 0);
  transform: translate(-0.015em, -0.015em);
  animation: glitch 1500ms infinite;
  animation: glitch-position 1000ms infinite;
}
.glitch:hover span:last-child {
  // color: green;
  z-index: 1;
  opacity: 0.4;
  clip-path: polygon(0 100%, 50% 100%, 90% 35%, 0 75%);
  transform: translate(0.025em, -0.015em);
  animation: glitch 500ms infinite;
}

@keyframes glitch-position {
  0% {
    transform: translate(-0.025em, -0.015em);
  }
  9% {
    transform: translate(-0.025em, -0.015em);
  }
  10% {
    transform: translate(-0.03em, -0.025em);
  }
  80% {
    transform: translate(-0.03em, -0.025em);
  }
  99% {
    transform: translate(-0.03em, -0.025em);
  }
  100% {
    transform: translate(-0.02em, -0.01em);
  }
}

@keyframes glitch {
  0% {
    text-shadow: -0.02em 0 0 $glitch-first-color,
      0.01em -0.005em 0 $glitch-second-color,
      0.01em -0.01em 0 $glitch-third-color;
    color: #ffebc4;
  }
  4% {
    text-shadow: -0.02em 0 0 $glitch-first-color,
      0.01em -0.005em 0 $glitch-second-color,
      0.01em -0.01em 0 $glitch-third-color;
    color: #ffebc4;
  }
  5% {
    text-shadow: 0.005em -0.01em 0 $glitch-first-color,
      -0.01em 0.01em 0 $glitch-second-color,
      -0.005em -0.005em 0 $glitch-third-color;
    color: white;
  }
  19% {
    text-shadow: 0.005em -0.01em 0 $glitch-first-color,
      -0.01em 0.01em 0 $glitch-second-color,
      -0.005em -0.005em 0 $glitch-third-color;
    color: white;
  }
  20% {
    text-shadow: 0.01em 0 0 $glitch-first-color,
      0.03em -0.0025em 0 $glitch-second-color,
      -0.0025em -0.02em 0 $glitch-third-color;
    color: white;
  }
  99% {
    text-shadow: 0.01em 0 0 $glitch-first-color,
      0.03em -0.0025em 0 $glitch-second-color,
      -0.0025em -0.02em 0 $glitch-third-color;
    color: white;
  }
  100% {
    text-shadow: -0.05em -0.05em 0 $glitch-first-color,
      -0.01em 0.01em 0 $glitch-second-color,
      -0.02em -0.01em 0 $glitch-third-color;
    color: white;
  }
}

// ------------------------------------ Georgiy Stier SUBHEAD
// ------------------------------------ Georgiy Stier SUBHEAD
// ------------------------------------ Georgiy Stier SUBHEAD
// ------------------------------------ Georgiy Stier SUBHEAD
// ------------------------------------ Georgiy Stier SUBHEAD

#hero-h2 {
  text-align: center;
  font-family: $hand-written;
  color: $glitch-first-color;
  font-size: 2.5rem;
  transition: 1.5s ease-in;
  position: absolute;
}

.flex-center {
  display: flex;
  justify-content: center;
}

#h2-wrapper {
  position: relative;
  width: 18rem;
  display: flex;
  justify-content: center;
}

.html-tag-subhead {
  font-family: $hand-written;
  color: $light-beige;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 1rem;
}
.left-tag-subhead {
  margin-left: -10px;
  left: 0;
}
.right-tag-subhead {
  margin-right: -10px;
  right: 0;
}

#hero-h2:hover {
  font-size: 3.3rem;
  color: $glitch-first-color-opaque;
}

#matrix-canvas {
  background: rgba(221, 129, 21, 1);
  width: 100vw;
  height: 70vh;
  min-height: 400px;
  max-height: 800px;
  // background: black;
  top: 0;
  left: 0;
}

// ------------------------------------ PARALLAX
// ------------------------------------ PARALLAX
// ------------------------------------ PARALLAX
// ------------------------------------ PARALLAX
// ------------------------------------ PARALLAX
#parallax-section {
  width: 100vw;
  height: 1000px;
  background: linear-gradient(
    0deg,
    rgba(234, 155, 0, 1) 0%,
    rgba(244, 178, 70, 1)
  );
  // border: solid black;
}
