// doesnt work somehow?

#parallax-section {
  width: 100vw;
  height: 500px;
  background: linear-gradient(
    0deg,
    rgba(234, 155, 0, 1) 0%,
    rgba(244, 178, 70, 1)
  );
  // border: solid black;
}
