@font-face {
  font-family: "Zaio";
  src: url(./fonts/Zaio.woff) format("woff");
}

$head-font: "Zaio";
$hand-written: "Stay Classy SLDT";
$main-col: orange;

$light-beige: #f7daa0;
$glitch-first-color: rgba(89, 27, 12, 0.4);
$glitch-first-color-opaque: rgba(89, 27, 12, 1);
$glitch-second-color: rgba(192, 255, 220, 0.5);
$glitch-third-color: #230802;
